<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>e-ReadNative</title>
  <link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', filename='style.css') }}" type= "text/css" rel="stylesheet">
</head>

<body id="indexbody">
  <div class="desc">
    <div class="intro">
      <p> e-ReadNative aims to read and extract text from a pdf , translate it to the user’s preferred language
        using translation api’s
      </p>
    </div>
    <div class="form">
      <p>upload your file here</p>
      <form id="form" action="/upload" enctype="multipart/form-data" method="post">
        <select class="form-control" id="tgtlang" name="tgtlang">
          <option value="hi">Hindi</option>
          <option value="ta">Tamil</option>
          <option value="te">Telugu</option>
          <option value="ja">Japanese</option>
          <option value="it">Italian</option>
        </select>
        <input type="file" name="infile" accept=".pdf" required class="file">
        <input type="submit">
      </form>
    </div>
  </div>
</body>

</html>