<html>

<head>
  <link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet">
</head>
<style>
  body {
    background-color: black;
    font-family: 'DM Mono', monospace;
    color: aliceblue;
    position: absolute;
    top: 45%;
    left: 50%;
    font-family: 'DM Mono', monospace;
    font-size: 22px;
    border: 1px aliceblue;
    border-style: double;
    transform: translate(-50%, -50%);
    padding: .3in;
  }
</style>

<body>
  <p>{{ text }}</p <audio controls>
  <source src="audiofile" type="audio/wav">
  Your browser does not support the audio tag.
  </audio>
</body>

</html>